body {
  height: 100vh;
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}
#map {
  width: 500px;
  height: 500px;

  margin: 10px auto;

}
.location {
  width: 400px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.location button
{
  display: inline-block;
  margin: auto;
  width: 200px;
  padding: 10px 20px;
  background-color: orange;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 20px;  
}
